<a href="https://colab.research.google.com/github/akhilamanoharan2017/Machine-Learning/blob/main/dm_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [56]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:
df = pd.read_csv("/content/drive/MyDrive/dm/salary_predict_dataset.csv")

In [58]:
df

   experience  test_score  interview_score  Salary
0         NaN         8.0              8.0   50000
1         NaN         5.0              4.0   22000
2       three         6.0              5.0   30000
3        five         9.0              9.0   55000
4         six         3.0              5.0   13000
5         NaN         2.0              1.0    9000
6         ten         8.0              6.0   48000
7         one         1.0              2.0     500
8     fifteen         9.0              9.0   60000
9    thirteen         7.5              7.5   45000
10        ten         NaN              5.0   25000
11        NaN         1.0              1.0     500
12        one         3.0              6.0   25000
13       four         5.0              4.0   36000
14        six         5.0              NaN    8000
15     eleven         9.0              8.0   55000
16     twelve         9.0              9.0   58000
17        NaN         2.0              6.0   12000
18      three         5.0              5.0   20000
19       five         6.0              7.0   35000

In [59]:
df.shape

(20, 4)

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   experience       15 non-null     object
 1   test_score       19 non-null     float64
 2   interview_score  19 non-null     float64
 3   Salary           20 non-null     int64
dtypes: float64(2), int64(1), object(1)
memory usage: 768.0+ bytes

In [61]:
df.isna().sum()

experience         5
test_score         1
interview_score    1
Salary             0
dtype: int64

In [62]:
print(df.experience.value_counts())
print(df.test_score.value_counts())
print(df.interview_score.value_counts())

three       2
five        2
six         2
ten         2
one         2
fifteen     1
thirteen    1
four        1
eleven      1
twelve      1
Name: experience, dtype: int64
5.0    4
9.0    4
8.0    2
6.0    2
3.0    2
2.0    2
1.0    2
7.5    1
Name: test_score, dtype: int64
5.0    4
9.0    3
6.0    3
8.0    2
4.0    2
1.0    2
2.0    1
7.5    1
7.0    1
Name: interview_score, dtype: int64

In [63]:
df=df.fillna(df.mode().iloc[0])

In [64]:
df

   experience  test_score  interview_score  Salary
0        five         8.0              8.0   50000
1        five         5.0              4.0   22000
2       three         6.0              5.0   30000
3        five         9.0              9.0   55000
4         six         3.0              5.0   13000
5        five         2.0              1.0    9000
6         ten         8.0              6.0   48000
7         one         1.0              2.0     500
8     fifteen         9.0              9.0   60000
9    thirteen         7.5              7.5   45000
10        ten         5.0              5.0   25000
11       five         1.0              1.0     500
12        one         3.0              6.0   25000
13       four         5.0              4.0   36000
14        six         5.0              5.0    8000
15     eleven         9.0              8.0   55000
16     twelve         9.0              9.0   58000
17       five         2.0              6.0   12000
18      three         5.0              5.0   20000
19       five         6.0              7.0   35000

In [65]:
categorical_features=df['experience']

In [66]:
x=df[['experience','test_score','interview_score']]

In [67]:
y=df['Salary']

In [68]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
categorical_features = ["experience"]
one_hot = OneHotEncoder()
transformer= ColumnTransformer([("one_hot",
                                 one_hot,
                                 categorical_features)],
                               remainder="passthrough")

transformed_x=transformer.fit_transform(x);
transformed_x

<20x12 sparse matrix of type '<class 'numpy.float64'>'
	with 60 stored elements in Compressed Sparse Row format>

In [69]:
print(transformed_x)

  (0, 2)	1.0
  (0, 10)	8.0
  (0, 11)	8.0
  (1, 2)	1.0
  (1, 10)	5.0
  (1, 11)	4.0
  (2, 8)	1.0
  (2, 10)	6.0
  (2, 11)	5.0
  (3, 2)	1.0
  (3, 10)	9.0
  (3, 11)	9.0
  (4, 5)	1.0
  (4, 10)	3.0
  (4, 11)	5.0
  (5, 2)	1.0
  (5, 10)	2.0
  (5, 11)	1.0
  (6, 6)	1.0
  (6, 10)	8.0
  (6, 11)	6.0
  (7, 4)	1.0
  (7, 10)	1.0
  (7, 11)	2.0
  (8, 1)	1.0
  :	:
  (11, 11)	1.0
  (12, 4)	1.0
  (12, 10)	3.0
  (12, 11)	6.0
  (13, 3)	1.0
  (13, 10)	5.0
  (13, 11)	4.0
  (14, 5)	1.0
  (14, 10)	5.0
  (14, 11)	5.0
  (15, 0)	1.0
  (15, 10)	9.0
  (15, 11)	8.0
  (16, 9)	1.0
  (16, 10)	9.0
  (16, 11)	9.0
  (17, 2)	1.0
  (17, 10)	2.0
  (17, 11)	6.0
  (18, 8)	1.0
  (18, 10)	5.0
  (18, 11)	5.0
  (19, 2)	1.0
  (19, 10)	6.0
  (19, 11)	7.0

In [29]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(transformed_x, y, test_size= 0.2, random_state=0)

In [70]:
from sklearn.linear_model import LinearRegression  
regressor= LinearRegression()  
regressor.fit(x_train, y_train)

LinearRegression()

In [71]:
y_pred=regressor.predict(x_test)

In [72]:
y_pred

array([24978.97268104, 26420.39103947, 37118.09436791, 55623.62922228])

In [73]:
print('Train Score: ', regressor.score(x_train, y_train))  
print('Test Score: ', regressor.score(x_test, y_test))

Train Score:  0.9719495245272528
Test Score:  0.9331507540341499

In [74]:
from sklearn.metrics import r2_score
print("Coefficient of determination: %.2f" % r2_score(y_test,y_pred))

Coefficient of determination: 0.93